.notification-image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.notification-paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.notification-container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.notification-root {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
.notification-container {
  background-color: rgba(236, 184, 76, 1);
}
.notification-container,.notification-container1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
@media(max-width: 1280px) {
  .notification-root,.notification-container {
    background-color: rgba(236, 184, 76, 1);
    height: auto;
    min-height: 45px;
    min-width: auto;
  }
  .notification-container {
    width: 85%;
  }
  .notification-text {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    max-width: 85%;
  }
  .notification-container1 {
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    height: auto;
    justify-content: flex-end;
    min-height: auto;
    min-width: auto;
    padding: 0px 20px 0px 0px;
    width: 15%;
  }
  .notification-image {
    height: 40px;
    min-height: auto;
    min-width: auto;
    width: 40px;
  }
}
