.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.image {
  background-color: rgba(236, 184, 76, 1);
  border: 2px solid rgba(175, 137, 58, 1);
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: 45px;
  object-fit: cover;
  position: relative;
  width: 1440px;
}
.text {
  align-self: auto;
  color: rgba(0, 0, 0, 1);
  flex-grow: 0;
  font-family: Lato;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: none;
}
.image1 {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: 30px;
  object-fit: cover;
  position: relative;
  width: 30px;
}
