.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.root {
  align-items: center;
  flex-direction: column;
}
.root,.container {
  display: flex;
  width: 100%;
}
.container {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
}
.container1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin-bottom: 0;
  margin-right: 45px;
}
.container1,.image {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 0;
  margin-top: 0;
  position: relative;
}
.image {
  background-color: rgba(217, 217, 217, 1);
  flex-shrink: 0;
  height: 430px;
  object-fit: cover;
}
.image,.text {
  margin-bottom: 16px;
  margin-right: 0;
  width: 365px;
}
.text {
  align-self: auto;
  color: rgba(34, 34, 34, 1);
  flex-grow: 0;
  font-family: Inter;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 150.52273273468018%;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-decoration: none;
}
.container2 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  height: 19px;
  position: relative;
  width: 151px;
}
.text1 {
  align-self: auto;
  color: rgba(21, 88, 151, 1);
  font-family: Inter;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: normal;
  text-align: left;
  text-decoration: none;
  top: 0px;
}
.text1,.image1 {
  flex-grow: 0;
  position: absolute;
}
.image1 {
  border-color: transparent;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 16px;
  left: 135px;
  object-fit: cover;
  top: 2px;
  width: 16px;
}
.container3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
.container3,.image2 {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  position: relative;
}
.image2 {
  flex-shrink: 0;
  height: 430px;
  object-fit: cover;
}
.image2,.text2 {
  margin: 0 0 15px;
  width: 365px;
}
.text2 {
  align-self: auto;
  color: rgba(34, 34, 34, 1);
  flex-grow: 0;
  font-family: Inter;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 150.52273273468018%;
  text-align: left;
  text-decoration: none;
}
.container4 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  height: 19px;
  position: relative;
  width: 255px;
}
.text3 {
  align-self: auto;
  color: rgba(21, 88, 151, 1);
  font-family: Inter;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: normal;
  text-align: left;
  text-decoration: none;
  top: 0px;
}
.text3,.image3 {
  flex-grow: 0;
  position: absolute;
}
.image3 {
  border-color: transparent;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 16px;
  left: 239px;
  object-fit: cover;
  top: 2px;
  width: 16px;
}
.container5 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
.text4 {
  align-self: auto;
  color: rgba(34, 34, 34, 1);
  flex-grow: 0;
  font-family: Inter;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 150.52273273468018%;
  margin: 0 45px 0 0;
  text-align: left;
  text-decoration: none;
  width: 471px;
}
.container6 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 100px;
  justify-content: flex-start;
  width: 100%;
}
