.quotewith-two-cards-link-default {
  align-items: left;
  background-color: #FFFFFF00;
  border: 0px rgb(187, 187, 187);
  border-radius: 3px;
  color: rgba(47, 0, 255, 1);
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  height: fit-content;
  min-height: 75px;
  min-width: 30px;
  padding-left: 5px;
  text-align: left;
  text-decoration: underline;
  -webkit-user-drag: none;
}
.quotewith-two-cards-link-default,.quotewith-two-cards-image-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.quotewith-two-cards-image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
}
.quotewith-two-cards-paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.quotewith-two-cards-container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.quotewith-two-cards-root {
  align-items: stretch;
  border-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}
.quotewith-two-cards-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: auto;
  min-width: auto;
  padding: 20px;
  width: 33.3%;
}
.quotewith-two-cards-text {
  color: rgba(34, 34, 34, 1);
  font-family: "Arial";
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  min-width: unset;
  width: 100%;
}
.quotewith-two-cards-container1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: auto;
  min-width: auto;
  padding: 20px;
  width: 33.3%;
}
.quotewith-two-cards-image {
  height: 430px;
  margin-bottom: 15px;
  min-height: auto;
  min-width: auto;
  width: 100%;
}
.quotewith-two-cards-text1 {
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.quotewith-two-cards-link {
  align-self: flex-end;
  color: rgba(21, 88, 151, 1);
  font-size: 16px;
  font-weight: 700;
}
.quotewith-two-cards-container2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: auto;
  min-width: auto;
  padding: 20px;
  width: 33.3%;
}
.quotewith-two-cards-image1 {
  height: 430px;
  margin-bottom: 15px;
  min-height: auto;
  width: 100%;
}
.quotewith-two-cards-text2 {
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.quotewith-two-cards-link1 {
  align-self: flex-end;
  color: rgba(21, 88, 151, 1);
  font-size: 16px;
  font-weight: 700;
}
