.header-default {
  color: #0C0C0C;
  font-size: 30px;
  font-weight: normal;
  min-width: 140px;
  text-align: left;
}
.header-default,.paragraph-default {
  font-family: Arial;
  height: fit-content;
}
.paragraph-default {
  font-size: 14px;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.container {
  background-color: rgba(0, 164, 155, 1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100%;
  padding: 40px 10px 80px 100px;
  width: 75%;
}
.container,.container1 {
  display: flex;
  min-height: unset;
  min-width: unset;
}
.container1 {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.text {
  font-size: 16px;
  font-weight: 500;
  min-height: 20px;
  padding: 0px;
}
.text,.text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  min-width: unset;
  padding-left: 0px;
  padding-right: 0px;
}
.text1 {
  font-size: 54px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.text2 {
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  max-width: 700px;
  min-width: unset;
  width: auto;
}
@media(max-width: 768px) {
  .container {
    padding: 40px 40px 40px 30px;
    width: 100%;
  }
}
@media(max-width: 480px) {
  .container {
    padding: 40px 20px;
  }
}
