.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
}
.paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
  width: auto;
}
.root {
  flex-direction: row;
  width: 100%;
}
.root,.container {
  background-color: rgba(236, 184, 76, 1);
  display: flex;
  height: auto;
  min-height: 45px;
  min-width: auto;
}
.container {
  flex: 0 0 auto;
  flex-direction: row;
  width: 85%;
}
.text {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  max-width: 85%;
}
.container1 {
  align-self: center;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: auto;
  justify-content: flex-end;
  padding: 0px 20px 0px 0px;
  width: 15%;
}
.container1,.image {
  min-height: auto;
  min-width: auto;
}
.image {
  height: 40px;
  width: 40px;
}
@media(max-width: 1280px) {
  .root,.container {
    background-color: rgba(236, 184, 76, 1);
    height: auto;
    min-height: 45px;
    min-width: auto;
  }
  .container {
    width: 85%;
  }
  .text {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    max-width: 85%;
  }
  .container1 {
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    height: auto;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
    width: 15%;
  }
  .container1,.image {
    min-height: auto;
    min-width: auto;
  }
  .image {
    height: 40px;
    width: 40px;
  }
}
