.link-default {
  align-items: left;
  background-color: #FFFFFF00;
  border: 0px rgb(187, 187, 187);
  border-radius: 3px;
  color: rgba(47, 0, 255, 1);
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  height: fit-content;
  min-height: 75px;
  min-width: 30px;
  padding-left: 5px;
  text-align: left;
  text-decoration: underline;
  -webkit-user-drag: none;
}
.link-default,.image-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.image-default {
  align-items: center;
  background-color: #d9d9d9;
  border-color: #a0a0a0;
  border-radius: 6px;
  border-width: 1px;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
}
.paragraph-default {
  font-family: Arial;
  font-size: 14px;
  height: fit-content;
  min-width: 30px;
  overflow: hidden;
  -webkit-user-drag: none;
}
.container-default {
  background-color: #ffffff;
  color: #a0a0a0;
  flex: 0 0 auto;
  height: 200px;
  min-height: 200px;
  min-width: 300px;
  padding: 10px;
}
.container-default,.root {
  display: flex;
  width: auto;
}
.root {
  align-items: stretch;
  border-color: rgba(255, 255, 255, 1);
  flex-direction: row;
  height: auto;
}
.container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: auto;
  min-width: auto;
  padding: 20px;
  width: 33.3%;
}
.text {
  color: rgba(34, 34, 34, 1);
  font-family: "Arial";
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  min-width: unset;
  width: 100%;
}
.container1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 20px;
  width: 33.3%;
}
.container1,.image {
  min-height: auto;
  min-width: auto;
}
.image {
  height: 430px;
  width: 100%;
}
.image,.text1 {
  margin-bottom: 15px;
}
.text1 {
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-weight: 400;
}
.link {
  align-self: flex-end;
  color: rgba(21, 88, 151, 1);
  font-size: 16px;
  font-weight: 700;
}
.container2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: auto;
  min-width: auto;
  padding: 20px;
  width: 33.3%;
}
.image1 {
  height: 430px;
  min-height: auto;
  width: 100%;
}
.image1,.text2 {
  margin-bottom: 15px;
}
.text2 {
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-weight: 400;
}
.link1 {
  align-self: flex-end;
  color: rgba(21, 88, 151, 1);
  font-size: 16px;
  font-weight: 700;
}
@media(max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
  }
  .container,.container1 {
    width: 100%;
  }
  .link {
    align-self: flex-start;
  }
  .container2 {
    width: 100%;
  }
  .link1 {
    align-self: flex-start;
  }
}
