.homepage-hero-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.homepage-hero-container {
  align-items: flex-start;
  display: flex;
  flex-shrink: 1;
  position: relative;
  width: 1451px;
}
.homepage-hero-container,.homepage-hero-image {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  height: 706px;
}
.homepage-hero-image {
  background-color: rgba(189, 32, 48, 1);
  flex-shrink: 0;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1080px;
}
.homepage-hero-container1 {
  background-color: rgba(255, 255, 255, 1);
  height: 502px;
  left: 786px;
  top: 115px;
  width: 665px;
}
.homepage-hero-container1,.homepage-hero-container2 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  position: absolute;
}
.homepage-hero-container2 {
  height: 413.3593444824219px;
  left: 22px;
  top: 46px;
  width: 531px;
}
.homepage-hero-image1 {
  background-color: rgba(217, 217, 217, 1);
  border-color: transparent;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: 413px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 531px;
}
.homepage-hero-richtext {
  font-family: Lora;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
  top: 165px;
}
.homepage-hero-richtext,.homepage-hero-text {
  align-self: auto;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-stretch: normal;
  font-style: normal;
  height: auto;
  left: 122px;
  position: absolute;
  text-align: left;
  text-decoration: none;
}
.homepage-hero-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 150.52273273468018%;
  top: 351px;
  width: 588px;
}
.homepage-hero-container3 {
  left: 362px;
  top: 487px;
}
.homepage-hero-container3,.homepage-hero-container4 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  height: 17px;
  position: absolute;
  width: 128px;
}
.homepage-hero-container4,.homepage-hero-text1 {
  left: 0px;
  top: 0px;
}
.homepage-hero-text1 {
  align-self: auto;
  color: rgba(254, 188, 14, 1);
  flex-grow: 0;
  font-family: Inter;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: none;
}
.homepage-hero-image2 {
  border-color: transparent;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: 12px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 12px;
}
.homepage-hero-text2 {
  align-self: auto;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-family: Inter;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 121px;
  line-height: 150.52273273468018%;
  position: absolute;
  text-align: left;
  text-decoration: none;
  top: 308px;
  width: 467px;
}
.homepage-hero-container5 {
  left: 122px;
  top: 471px;
}
.homepage-hero-container5,.homepage-hero-container6 {
  align-items: flex-start;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 48px;
  position: absolute;
  width: 200px;
}
.homepage-hero-container6,.homepage-hero-image3 {
  left: 0px;
  top: 0px;
}
.homepage-hero-image3 {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50px;
  box-sizing: content-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: 48px;
  object-fit: cover;
  position: absolute;
  width: 200px;
}
.homepage-hero-text3 {
  align-self: auto;
  color: rgba(255, 255, 255, 1);
  flex-grow: 0;
  font-family: Inter;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 48px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: none;
  top: 16px;
}
